body {
    background: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mondrian {
    border-collapse: collapse;
    border: 8px solid black;
    width: 80%;
    max-width: 900px;
    height: 600px;
}

.mondrian td {
    border: 8px solid black;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #111;
}

/* кольори */
.red {
    background: #d40920;
    color: #fff;
}

.blue {
    background: #1356a2;
    color: #fff;
}

.yellow {
    background: #f7d842;
}

.white {
    background: #fff;
}